/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*START*/

* { outline: 1px solid rgb(255, 0, 0); }

.wrap{    
    max-width:1296px;
    margin: auto;
}
/*header*/
.nav{
    height:64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 412px;
    height: 32px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.healeftbox{
    width:480px;
    height: 376px;
}
.healeft{
    width: 526px;
    height:376px;
}
.healefta{
    display:flex;
    flex-direction: row;
}
.healefta a{
     text-decoration:none;
     color:#494949;
     border:1 px solid #494949;
     padding: 12px 24px;
     border-radius: 30px;
     margin-right: 35px;
}
.healefta a:hover{
    background-color: #494949;
    color: white;
}
.healeft h1{
    font-size: 80px;
}
.hearightimg{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 746px;
}
.hearightimg img{
    
    max-width: 100%;
    max-height: 100%;
}
/*services*/
.services{
    background-color: #24140B;
    height: 494px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serbox{
    width: 1296px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.sertopbox{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sertopbox h2{
    font-size: 80px;
    font-family: 'Noto Sans', sans-serif;
}
.serbuttombox{
    width:1296px;
    height:174px;
}
.serbuttombox ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.serbuttombox li{
    background-color: #ffffff;
    width: 306px;
    height: 174px;
}
.serbtboxlitop{
    height:66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 24px;
    padding-top: 24px;
}
.textleft{
    width:218px;
}
.textleft p{
    font-size: 16px;
    line-height: 150%;
}
.textleft h3{
    font-size: 28px;
    line-height: 150%;
}
.serbtboxlitop img{
    width:28px;
    height:28px;
}
.serbtboxlibottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:48px;
    padding: 0px 24px;
    padding-top: 12px;
    padding-bottom: 24px;
}
.serbtboxlibottom p{
    width:198px;
    line-height: 150%;
}
.serbtboxlibottom img{
    width:48px;
    height:48px;
}
.projects{
    text-align: center;
}
.probox{
    margin: 0 auto;
    height:1487px;
    width: 1296px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.protop{
    height: 120px;
}
.protop h3{
    font-size: 80px;
    font-family: 'Noto Sans', sans-serif;
}
.probox ul{
    height: 1239px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.probox li{
    height:397px;
}
.proliimg1{
    background-image: url(pic/pro01.png);
    background-size: cover;
    height: 100%;
    position: relative;
}
.proliimg2{
    background-image: url(pic/pro02.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}
.proliimg3{
    background-image: url(pic/pro03.png);
    background-size: cover;
    height: 100%;
    background-position: bottom;
    position: relative;
}
.prolibox{
    height: 341px;
    width: 386px;
    background-color: #ffffff;
    position: absolute;
    left: 28px;
    top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #404040;
}
.proliboxp1{
    font-size: 14px;
}
.proliboxp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 151px;
}
.proliboxp2{
font-family: Noto Sans;
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 150%;
letter-spacing: 2%;
text-align: center;
vertical-align: middle;
}
.proliboxp3{
font-family: Noto Sans;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 150%;
letter-spacing: 2%;
text-align: center;
vertical-align: middle;
}
.proliboxlink{
    width: 113px;
    height: 48px;
    background-color: white;
    color:#404040 ;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.proliboxlink:hover{
    background-color: #404040;
    color: white;
}